*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17a2b8;
}

.wrapper{
    width: 770px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 30px;
}
.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}
.wrapper .content-box{
    padding: 13px 20px 0;
    border: 2px  solid #ccc;       
}
.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;
    overflow-x: auto;
}
.typing-text::-webkit-scrollbar{
    width: 0;
}
.typing-text p{
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span{
    position: relative;
}
.typing-text p span.correct{
    color: blue;
}
.typing-text p span.incorrect{
    color: #56964f;
    background: #ffc0cb;
    outline: 1ps solid #fff;
    border-radius: 4px;
}
.typing-text p span.active{
    color: #17a2b8;
}
.typing-text p span.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
    50%{
        opacity: 1;
    }
}

.content-box .content{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 12px 0;
    margin-top: 20px;
}
.content .result-details{
    display: flex;    
    width: calc(100% - 105px);
    justify-content: space-between;
}
.result-details li{
    display: flex;
    list-style: none;
    
}
.result-details li:not(:first-child){
    border-left: 1px solid #ccc;
    padding-left: 22px;
}
.result-details li p{
    font-size: 19px;

}
.result-details li span{
    display: block;
    font-size: 20px;
    margin-right: 60px;
}
.result-details li:not(:first-child) span{
    font-weight: 500;
}
.result-details li b{
    font-weight: 500;
}
.content button{
    width: 0;
    border: none;
    outline: none;
    width: 100px;
    background: #17a2b8;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.content button:hover{
    transform: scale(1.5);
    width: 100%;
}

@media (max-width:500px){
    .wrapper{
        width: 500px;
        height: 500px;
    }
    .result-details {
        width: 500px;
    }
}